* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.component {
    background: hsl(0, 0%, 100%);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    width: 320px;
    border-radius: 20px;
    text-align: center;
}

.qr-code {
    width: 90%;
    margin: 5%;
    border-radius: 10px;
}

h2 {
    margin: 5px 20px 15px 20px;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px;
    font-size: 1.4em;
    color: hsla(218, 44%, 22%, 0.8);
}

p {
    margin: 0 30px 40px 30px;
    text-shadow: rgba(0, 0, 0, 0.1) 0 1px;
    font-size: 0.95em;
    color: hsla(220, 15%, 55%, 0.8);
}